<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="form-group text-center" id="ui">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="">Incident Number</label>
                        <input type="text" class="form-control" name="number" [(ngModel)]="incNumber" readonly>
                    </div>
                    <div class="col-lg-6" id="caller">
                        <label for="">Caller</label>
                        <input type="text" class="form-control" name="caller" [(ngModel)]="incData.Caller.Name" readonly>
                    </div>
                    <!-- <div class="col-lg-1" id="icon">
                        <button type="button" class="btn btn-primary btn-sm" (click) = getUsers()>
                            <span class="glyphicon glyphicon-user">CLICK</span>  
                        </button>
                    </div> -->
                </div>
                <div class="row">
                    <!-- <div class="col-lg-1" id="icon">
                        <button type="button" class="btn btn-primary btn-sm" (click) = getUsers()>
                            <span class="glyphicon glyphicon-user">CLICK</span>  
                        </button>
                    </div>
                    <div class="col-lg-5" id="onBehalfOf">
                        <label for="">Caller</label>
                        <input type="text" class="form-control" name="onBehalfOf" [(ngModel)] = userId>
                    </div> -->
                    
                    <div class="col-lg-12">
                        <label for="">Configration item</label>
                        <!-- <input type="text" class="form-control" name="ci"> -->
                        <select class = "form-control" name="ci" (change) = setCi($event)>
                            <option>Select...</option>
                            <option *ngFor = "let ci of ci" >{{ci.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="">Impact</label>
                        <select class = "form-control" name="impact" [(ngModel)] = incData.Impact (change) = "setPriority()" >
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="">State</label>
                        <select class = "form-control" name="state" [(ngModel)] = incData.State>
                            <option>New</option>
                            <option>In Progress</option>
                            <option>Resolved</option>
                            <option>Closed</option>
                            <option>Cancelled</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="">Urgency</label>
                        <select class = "form-control" name="urgency" [ngModelOptions]="{standalone: true}" [(ngModel)] = incData.Urgency (change) = "setPriority()"> 
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="">Assignment Group</label>
                        <select class = "form-control" name="ag" (change) = "getUsersInGroups($event)">
                            <option>Select Group</option> 
                            <option *ngFor = "let gr of grpData">{{gr.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="">Priority</label>
                        <input type="text" class="form-control" name="priority" [(ngModel)] = "priority" readonly>
                    </div>
                    <div class="col-lg-6">
                        <label for="">Assignment To</label>
                        <select class = "form-control" name="agt" [(ngModel)] = grpMemFrmHtml>
                            <option>---</option>
                            <option *ngFor = "let grm of groupMembers">{{grm.Name}}</option>
                        </select>
                    </div>
                </div>
                <label>Short Description</label>
                <input type="text" class="form-control" name="shortDescription" [(ngModel)] = incData.ShortDescription>
                <label>Description</label>
                <textarea class="form-control" rows="2" name="description" [(ngModel)] = incData.Description></textarea>
                <br>
                <input type="submit" name="edit" value="Edit" class="btn btn-primary btn-block" (click) = "onSubmit()">
            </form>
            
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

